PORT=8080
DB_NAME=spa_db
DB_USER=postgres
DB_PASSWORD=password_postgres_kamu
DB_HOST=127.0.0.1
DB_PORT=5432
JWT_SECRET=ubah_dengan_secret_kamu
GOOGLE_CLOUD_PROJECT=project-id-kamu
CLOUD_STORAGE_BUCKET=nama-bucket-kamu
